@charset 'UTF8';

body {
    background-color: rgb(186, 186, 186);
    font-family: 'Courier New', Courier, monospace;
}

h2.basic{
 color: rgb(255, 255, 255);
 background-color: rgb(71, 137, 5);
 text-align: center;

}
.basic {
    color: green;
}

h2.advanced{
    color: rgb(255, 255, 255);
    background-color: rgb(95, 2, 2);
    text-align: center;
   
   }
.advanced{
       color: rgb(155, 0, 0);
       font-weight: 900;
}

.destaque{
    background-color: rgba(254, 254, 132, 0.329);
}

#selector{
    background-color: rgb(154, 104, 104);
    text-align: center;
    padding: 20px;
}